<% provide(:title, '説明') %>
<h1>アプリの説明</h1>
<div class="row justify-content-center">
  <p>  <%#= link_to image_tag("WEAVER_1.jpg") %><br>
  <br>
  このアプリケーションは家計簿をつけるためのサービスを提供します。<br>
  <br>
  収入額、支出額を入力することで、各月毎にデータをまとめます。<br>
  <br>
  各月毎の収入額、支出額の合計、日付ごとの合計、カテゴリー別の支出額、合計貯金額を算出します。<br>
  <br>
  このサービスでお金の管理を徹底しましょう。 <%#= image_tag("suyasuya.jpg", size: '300x300') %><br>
  <br>
  使用方法は<%= link_to 'こちらから', use_path %>確認できます。<br>
  <br>
  <br>
  <br>
</p>
</div>