<% provide(:title, '使い方') %>
<h1>使い方</h1>
<div class="row justify-content-center">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/Z_5gQRVm0-s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>