<% provide(:title, '使い方') %>
<h1>使い方</h1>
<h3>Youtubeで使用方法を説明する予定</h3><br>
<div class="row justify-content-center">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/zSjmB4a6p1Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>