<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      エラー項目が <%= pluralize(object.errors.count, "つあります。") %>
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %>。</li><br>
    <% end %>
    </ul>
  </div>
<% end %>