@import "bootstrap";
// @import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css);
// @import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

/* universal */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  padding-top: 30px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

body {
  padding-top: 60px;
  background-color: #f0f3f5;
	font-family: 'Roboto';
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

// .center {
//   text-align: center;
// }

.fixed-top {
  background: pink;
  height:　50px;
  line-height: 50px;
}

ul {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

li {
  display: inline-block;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

// カレンダー
#calendar {
	max-width: 500px;
	margin: 0 auto;
}

.fc-basic-view .fc-body .fc-row {
	min-height: 1em !important;
}

.fc button {
	height: 2em !important;
	padding: 0 .1em !important;

	/* text & cursor */
	font-size: 0.8em !important;
}
// カレンダー　ここまで

.graph-no-data {
  text-align: center;
  font-size: 40px;
  margin-bottom: -120px;
  margin-top: 80px;
}

.twitter-btn {
  text-align: center;
  padding-top: 30px;
}

.bootstrap-date {
  display: inline-block;
  width: auto;
}


.box {
	background-color: #fff;
	padding: 25px 40px;
	margin-top: 30px; /*Remove, its example*/
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input-group {
	margin: 5px 0px;
}

.addon-twitter {
	// background-color: #00c6e9;
	border: none;
	border-radius: 2px 0px 0px 2px;
	color: #fff;
}

.btn-twitter,
.btn-twitter:hover {
	background-color: #00d7fa;
	color: #fff;
	border-radius: 0px;
	font-size: 15px;
}

.btn-primary {
	border-radius: 2px;
	background-color: #23a9f6;
	border-color: #23a9f6;
	margin: 10px 0px;
}

p {
	color: #aebbcb;
} 

a {
	color: #23a9f6;
}

.divider-form {
    border: 1px solid #EBEFF1;
    margin: 15px -40px 10px;
}

label {
	text-transform: uppercase;
	color: #bdc7d4;
}

strong {
	color: #95a5bb;
}

.form-control {
    background: none;
    height: 40px;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    color: #8b9eb6;
    padding: 0px;
}

.form-control:focus {
    box-shadow: none;
}