<% provide(:title, '貯金グラフ')%>
<h1>貯金額の合計</h1>
<div class="row justify-content-center">
  <div style="width: 50%">
    <% if @total_saving.blank? %>
      <div class="graph-no-data">
        <p>データがありません</p>
      </div>
    <% end %>
    <canvas id="myBarChart" height="450" width="600"></canvas>
  </div>

  <table class="table table-bordered table-striped table-condensed">
    <tbody>
      <% @all_total_saving.each do |key, value| %>
      <tr>
        <td><%= key %>月</td>
        <td><%= value[0] %>円<br>前月比：<%= '+' if value[1] > 0 %><%= value[1] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
var ctx = document.getElementById("myBarChart");
var total_saving = gon.total_saving;
var labels = [];
var data = [];
  total_saving.forEach(function( value ) {
    labels.push(value[0]);
    data.push(value[1]);
  });
  var myBarChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: labels,
      datasets: [
        {
          label: '月時点の貯金額',
          data: data,
          backgroundColor: "rgba(219,39,91,0.5)"
        }
      ]
    },
    options: {
      title: {
        display: false,
        text: '貯金額の合計'
      },
      scales: {
        yAxes: [{
          ticks: {
            suggestedMax: 0,
            suggestedMin: 0,
            stepSize: 0,
            callback: function(value, index, values){
              return  value +  '円'
            }
          }
        }]
      },
    }
  });
</script>