<% provide(:title, '貯金グラフ')%>
<h1>貯金額の合計</h1>
<div class="row justify-content-center">
  <div style="width: 50%">
    <% if @total_saving.blank? %>
      <div class="graph-no-data">
        <p>データがありません</p>
      </div>
    <% end %>
    <canvas id="chart" height="450" width="600"></canvas>
  </div>

  <table class="table table-bordered table-striped table-condensed">
    <tbody>
      <% @all_total_saving.each do |key, value| %>
      <tr>
        <td><%= key %>月</td>
        <td><%= value[0] %>円<br>前月比：<%= '+' if value[1] > 0 %><%= value[1] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>