<footer class="footer">
  <small>
  </small>
  <nav>
    <ul>
      <li><%= link_to "アプリを作った理由",   '#' %></li>
      <li><%= link_to "使い方", use_path %></li>
      <%# <li><a href="http://news.railstutorial.org/">News</a></li> %>
    </ul>
  </nav>
</footer>