<!-- ヘッダーパーシャル -->
<div class="container-fluid">
  <ul class="row fixed-top">
    <li class="col">menu01</li>
    <li class="col">menu02</li>
    <li class="col">menu03</li>
    <li class="col">menu04</li>
  </ul>
</div>